@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:500|Josefin+Sans|Sarala|Signika:300');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900');

h4,h5 {
  font-family: 'Zilla Slab', serif;
  /*font-family: 'Cormorant Garamond', serif;*/
  font-weight: 300;
  color: #636363;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #777777;
}

p > a {
  color: #777777;
  font-style: normal;
}

p > a:hover, p > a:focus {
    text-decoration: none;
    color: #404040 !important;
}

em {
  font-size: 80%;
  color: #a6a6a6;
}

body {
  background-color: rgba(251,249,235, 1.0);
  margin:0;
  padding:0;
}

footer {
  background-color: transparent !important;
}

p > a {
  color: #279bbe;
}

.container-fluid {
  margin-left: 7%; margin-right: 7%
}

/* Config Bootstrap Navbar */
.navbar-light{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  margin-top: 2.5em !important;

}

.nav {
  display:inline;
}

.navbar-header {
  /*width: 100%;*/
}

.navbar-brand {
  margin-left: 7% !important;
  color: black !important;
  font-size: 170%;
  font-family: 'Raleway', sans-serif !important;
  margin-right: 0em !important;
}

.nav-link {
    font-family: 'Zilla Slab', serif !important;
    font-size: 120%;
}

.mr-auto {
    margin-left: 60px;
}

.nav-item {
    margin-left: 20px;
}

.navbar-toggler {
  border: none !important;
}

/* Bootstrap Accordian */
.card,.card-header{
    background-color: transparent;
    border: none;
}

/* Div styles */
.greeting {
    padding: 100px;
    padding-left: 12px;
}

.mt-lg {
  margin-top: 50px;
}

.mt-md {
  margin-top: 30px;
}

.mt-sm {
  margin-top: 10px;
}


/* Random */
.hover-click {
  cursor: pointer;
}

.semi-bold {
    font-weight: 500;
    color: #383838;
}

.blue {
    color: #7caeff !important;
}

.facebook {
  color: #3B5998 !important;
}

.github {
  color: #595959 !important;
}

.linkedin {
  color: #0077b5 !important;
}

.navbar .navbar-nav > li > a.linkedin:hover, .navbar .navbar-nav > li > a.linkedin:focus {color: #00324d!important;}
.navbar .navbar-nav > li > a.facebook:hover, .navbar .navbar-nav > li > a.facebook:focus {color: #24355c !important;}
.navbar .navbar-nav > li > a.github:hover, .navbar .navbar-nav > li > a.github:focus {color: #333333 !important;}


.no-underline {
    text-decoration: none !important;
}

.indent {
    padding-left: 8%;
}

.inline {
    float: left;
}

.resume {
    margin-left: 8%;
}

.stretch {
  text-align: justify;
}

.shadow-basic {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.portrait {
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.midd-picture {
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  width: 95%;
  float: right;
  margin-top: 15px;
}

.project-picture-lg {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  width: 100%;
  margin-top: 15px;
  max-width: 600px;
}

.project-picture-sm {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  max-width: 400px;
}

@media screen and (max-width: 768px) {
    .portrait {
        display: none !important;
    }
    .fours-pics {
      display: none !important;
    }
    .midd-pics {
      display: none !important;
    }

    /*.container-fluid {
      margin-left: auto; margin-right: 0
    }*/
}

@media screen and (max-width: 920px) {
    .booz-icons {
        display: none !important;
    }

    .tech-used {
      width: 100% !important;
    }

}

.calculated-width {
    width: -webkit-calc(100% - 580px);
    width:    -moz-calc(100% - 580px);
    width:         calc(100% - 580px);
}​

.vert-wrapper {
    height: 100px;
    display:flex;
    align-items: center;
}

.margin-top {
    margin-top: 30px;
}

.margin-top-big {
    margin-top: 60px;
}

.location {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #a6a6a6;
  font-size: 13px;
  margin-left: 20px;
  font-style: italic;
}

.tag {
  font-family: 'Raleway', sans-serif;
  color: #a6a6a6;
  font-size: 13px;
  font-style: italic;
  padding-top: 10px;
}

.project-tag {
  margin-top: 30px !important;
}

.dim {
  color: #939393;
}

.tech {
  color: #606060;
}

.time {
  font-family: 'Raleway', sans-serif;
  color: #a6a6a6;
  font-size: 15px;
  margin-left: 20px;
  font-style: italic;
}

.thicker-hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #a6a6a6; /* old IE */
  background-color: #a6a6a6; /* Modern Browsers */
  opacity: 0.6;
}

.card-block.title {
  margin-bottom: 5px;
}

.card-block p {
  margin-top: 0px !important;
}

.news-sc {
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.fours-sc {
  border-radius: 33px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.mild-link {
  cursor: pointer;
  color: #279bbe;
}

.header-link {
  cursor: pointer;
  color: inherit;
}

.header-link:hover {
  text-decoration: none !important;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.gpa-text {
  display: inline-block; float: right; margin-top: 15px; opacity: 0.8;
}

.gpa {
  display: inline-block; float: right; margin-left: 15px; margin-top: 15px; opacity: 0.6; font-style: italic;
}

.vertical-center {
  margin-top: 40px;
}



/* IDS */

#pdfIcon {
  width: 50px;
  opacity: 0.7;
}

#pdfIcon:hover {
  opacity: 1.0;
}


/* PORTFOLIO */

.list-group {
  border-top: 0 none !important;
}

.padded-item {
  background-color: rgba(253, 253, 253, 1.0) !important;
  /* background-color: white !important; */
  margin: 10px;
  cursor: pointer;
}

.portfolio-type {
  color: #404040;
}

.portfolio-sections {
  padding: 10px !important;
}

.portfolio-item {

}

.portfolio-item-title {
  font-size: 150%;
  font-weight: 400;
  margin-top: 10px;
}

.portfolio-item-footer {
  background-color: #4da6ff !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 5px !important;
  padding-top: 15px !important;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-blue {
  background-color: #3399ff !important;
}
.footer-blue:hover {
  background-color: #0080ff !important;
  cursor: pointer !important;
}

.footer-endeavor {
  background-color: #de4721 !important;
}
.footer-endeavor:hover {
  background-color: #C43E1D !important;
  cursor: pointer !important;
}

.footer-green {
  background-color: #00cc99 !important;
}
.footer-green:hover {
  background-color: #00b386 !important;
  cursor: pointer !important;
}

.footer-pink {
  background-color: #ffb3d9 !important;
}
.footer-pink:hover {
  background-color: #ff80bf !important;
  cursor: pointer !important;
}

.portfolio-item-body {
  padding: 5px 20px 0px 20px;
}

.portfolio-item-footer a {
  color: white;
  margin-top: -9px;
  position: absolute;
}

.portfolio-item-footer a:hover {
  color: white !important;
}

.portfolio-shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;
}

.portfolio-shadow:hover {
  box-shadow: 0 7px 20px rgba(0,0,0,0.3);
  cursor: pointer;
}

.portfolio-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0px 3px rgba(0,0,0,0.3);
}

.img-wrapper {
  padding: 5px 0px 10px 0px;
}

.divider {
  width: 230px; margin: 0 auto; margin-top: -30px; background-color: rgb(252, 252, 252);
}

#sidebar #accordion {
  /*background-color: #f2f2f2;
  border-radius: 10px !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
}

.jumbotron {
  border-radius: 10px !important;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  height: 200px;
  background-color: #ffffff;
}

.jumbotron h4 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -10px;
  color: #404040;
}

.item-link {
  color: inherit;
  text-decoration: none !important;
}

#flockLogo {
  font-family: 'Sarala', sans-serif;
  /* font-size: 27px; */
  font-weight: 700;
  color: #3679B8;
}

#endeavorLogo {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
  color: #34447A;
}

#cs500Logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.project-features {
  list-style: none;
  padding-left: 20px;
}

.flock-features {
  list-style: none;
  margin-left: 0;
  padding-left: 1.3em;
  text-indent: -1.3em;
}

.flock-features li:before {
  content: "✔";
  display: block;
  float: left;
  width: 1.3em;
  color: #3679B8;
}

.endv-section {
  font-weight: bold;
  width: 300px;
}
